{% extends "courses/base.html" %}
{% load static %}

{% block title %}Detalle: {{ course.name }}{% endblock %}

{% block contenido %}
    <section>
        <h1>{{ course.name }}</h1>        
        {% if course.image %}
            <img src="{{ course.image.url }}" alt="Foto de {{ course.name }}" style="max-width: 500px; height: auto;">
        {% else %}
            <p>No hay imagen disponible.</p>
        {% endif %}
        
        <h2>Descripción</h2>
        <p>{{ course.description }}</p> 
        <a href="{% url 'courses' %}" class="btn btn-secondary">← Volver a Cursos</a>
    </section>

{% endblock %}