<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #logout {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'projects-list' %}">
                {% if user.is_authenticated %}
                {{ user.username }}

                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'main' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'projects-list' %}">My Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-project' %}">Create Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    {% block content %}{% endblock %}

    <div id="logout" class="container-fluid">
    {% if user.is_authenticated %}
    <form action="{% url 'logoutuser' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endif %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>