body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
  padding: 30px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #2172ceff;
  color: white;
}

tr:hover {
  background-color: #f2f2f2;
}

.form-container {
  margin-top: 30px;
  background: white;
  padding: 20px;
  padding-right: 35px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-add {
  background-color: #4caf50;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.btn-update {
  background-color: #2196f3;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}
